main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jatekter {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, max-content);
  border: 1px solid black;
}

.mezo {
  background-color: blanchedalmond;
  border: 1px solid black;
  min-width: 100px;
  min-height: 100px;
}
